.user-list{
  display: flex;
  justify-content: space-around;
  margin: 1px;
  padding: 13px;
  border: 1px solid #aaa;
    list-style: none;
}
.user-list-head{
  font-size: 20px;
  color: rgb(205, 95, 196);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}